<!DOCTYPE html>
<html ng-app="medlink" lang="en-utf8">
  <head>
    <meta charset="utf-8">
    <title>Peace Corps | Medlink</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7' crossorigin='anonymous'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/controllers/supplies.js"></script>
    <style type="text/css">
      .unavailable {
        text-decoration: line-through;
      }
    </style>
  </head>
  <body>
    <section class="container" ng-controller="SuppliesController as supplies">
      <br>

      <form ng-submit="supplies.save()">
        <input ng-model="supplies.newItem.name" type="text" placeholder="Add an Item" class="form-control">
        <textarea ng-model="supplies.newItem.description" class="form-control"></textarea>

        <button class="btn btn-primary">
          <i class="glyphicon glyphicon-plus"></i>
        </button>
      </form>

      <br>

      <input ng-model="supplies.searchQuery" type="text" class="form-control">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>
              <button class="btn btn-default btn-xs" ng-click="supplies.reverse()">Reverse</button>
            </th>
            <th>In Country</th>
            <th>Global</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="supply in supplies.items | filter:supplies.searchQuery | orderBy:supplies.sortOrder">
            <td ng-class="{unavailable: !supply.inCountry || !supply.globally}">
              {{supplies.capitalize(supply.name)}}
            </td>
            <td><input type="checkbox" ng-model="supply.inCountry"></td>
            <td><input type="checkbox" ng-model="supply.globally"></td>
            <td><p>{{supply.description}}</p></td>
          </tr>
        </tbody>
      </table>
    </section>
  </body>
</html>
